body {
    background-color: #f3f3f3;
}

.wrapper {
    position: absolute;
    margin-top: 100px;
    margin-left: 480px;
    width: 600px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.therapistInfo {
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.commentsSection {
    background-color: white;
}

.therapiesInfo {
    background: #fff;
}

.left {
    /* width: 35%; */
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.left img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.left h4 {
    margin-bottom: 10px;
}

.left p {
    font-size: 12px;
}

.right {
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right .info,
.right .projects {
    margin-bottom: 25px;
}

.right .info h3,
.right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.right .info_data,
.right .projects_data {
    display: flex;
    justify-content: space-between;
}

.right .info_data .data,
.right .projects_data .data {
    width: 45%;
}

.right .info_data .data h4,
.right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.right .info_data .data p,
.right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.social_media ul {
    display: flex;
}

.social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
}

.btn-designed {
    margin-right: 10px;
}

.btn {
    background-color: #457fca;
    color:white;
}

.btn:hover{
    background-color: #1956e6;
   
}

.clearfix {
    margin-top: 25px;
    border-top: 2px solid green;
}

.rating {
    font-size: 30px;
}

.textbox {
    margin-top: 10px;
}